*{
padding: 0;
margin: 0;
}
.header{
    padding: 15px;
    background-color: #67BA62;
    text-align: center;
    font-size: 18px;
}
.title{
    color: #fff;
    margin: 10px 0;
}
.search_box{
    background-color: #fff;
    border-radius: 5px;
    height: 25px;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B9B9B9;
}
.icon-fangdajing{
    font-size: 14px;
    margin-right: 8px;
}

