*
{
    margin: 0;
    padding: 0;
}
ul li{
    list-style:none; ;
}
.logo{
    width: 60px;
    height: 60px;
    overflow: hidden;

}
.logo img{
    width: 100%;
}

.logo,.nav{
    display: inline-block;
}
.head
{
    height: 85px;
    font-size: 0;
    padding: 0,107,0,107;
    display: flex;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);

}
.head_nav,.head_user{
    display: inline-block;
    width: 50%;
    font-size: 21px;

}
.head_nav{
    height: 100%;
    display: flex;
    align-items: center;
}

.nav ul
{
    display: flex;

}
.nav ul li
{
    margin-right: 32px;

}


.head_user{
    display: flex;
    justify-content: end;
    align-items: center;
    padding:21px;
}
.register{
    width: 85px;
    height: 100%;
    background-color: #000;
    border-radius: 10px 15px 10px 15px;
    font-size: 21px;
    color:#fff;
}
.login{
    width: 85px;
    height: 100%;
    font-size: 21px;
    border: none;
    background-color:#fff;
}


.main
{
padding-top: 47px;
}

.search{
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);

}
.search_wrap{

}
.search_info{
    width: 1024px;
    height: 67px;
    margin: 0 auto;
    position: relative;

}

.search_info input{
    width: 100%;
    height: 100%;
    border-color:#D1D5DB;
    border-radius: 11px;
    font-size: 21px;
    padding-left: 64px;
    padding-right: 129px;
    box-sizing: border-box;
}
.search_icon{
    width: 21px;
    height: 21px;
    position: absolute;
    top: 20px;
    left: 21px;
}
.search_btn{
    width: 107px;
    height: 53px;
    background-color: #000;
    border-radius: 15px 15px 15px 15px;
    /*t 设置文字行高，使文字垂直居中
    ext-align: center;
    line-height: 53px*/;
    /*利用弹性容器特性，强行让元素居中
    display: flex;
    justify-content: center;//水平居中
    align-items: center;//垂直居中
    */
    font-size: 21px;
    color:#fff;
    position: relative;
    left: 900px;
    top :-60px;    
}