* {
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
.question {
    width: 100%;
    height: 100vh;
}

.head {
    color: #fff;
    padding: 14px;
}

.title {
    color: #4B5563;
    font-size: 13px;
    text-align: center;
    font-weight: 400;
}

.bar {
    margin-top: 8px;
    width: 100%;
    height: 4px;
    background-color: #E2E8F0;
}

.bar-progrees {
    height: 100%;
    background-color: #15B8A6;
    width: 10%;
}

.main {
    width: 100%;
    height: calc(100vh - 59px);
    background-color: #F0F7FF;
    padding: 14px;
    box-sizing: border-box;
}

.question-wrap {
    margin: 21px;
    background-color: #fff;
    border-radius: 16px;
}

.order {
    color: #1F2937;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 7px;
}

.question-title {
    margin-bottom: 21px;
    font-weight: 400;
    font-size: 14px;
    color: #374151;

}

.list li {
    padding: 14px;
    background-color: #F9FAFB;
    border-radius: 8px;
    margin-bottom: 14px;
}

.foot {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 14px;
}

.next{
    width: 100%;
    height: 42px;
    background-color: #15B8A6;
    text-align: center;
    line-height: 42px;
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
}
.goResult{
    width: 100%;
    height: 42px;
    background-color: #15B8A6;
    text-align: center;
    line-height: 42px;
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
}
.Hide{
    display: none;
}
