.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    /*
    主轴向下“主轴与交叉轴叫唤了”
    */
    align-items: start;

    height: 100vh;
    font-size: 1rem;
}
#i_input{
    width: 200px;
}

.output{
    margin-top: 10px;
    width: 100%;
    min-height: 300px;
}